USE [master]
GO
/****** Object:  Database [jewelleryshop]    Script Date: 6/7/2026 3:19:50 PM ******/
CREATE DATABASE [jewelleryshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jewelleryshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\jewelleryshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jewelleryshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\jewelleryshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jewelleryshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jewelleryshop]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateTotal]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateTotal]
(
    @Quantity INT,
    @Price DECIMAL(10,2)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @Quantity * @Price
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCategoryTotal]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetCategoryTotal] (@Category VARCHAR(50))
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @total DECIMAL(10,2)

    SELECT @total = SUM(Price * Quantity)
    FROM Jewellery
    WHERE Category = @Category

    RETURN ISNULL(@total, 0)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalCustomers]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetTotalCustomers]()
RETURNS INT
AS
BEGIN
    DECLARE @count INT

    SELECT @count = COUNT(DISTINCT CustomerName) FROM BillsMade

    RETURN ISNULL(@count, 0)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalItemsSold]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetTotalItemsSold]()
RETURNS INT
AS
BEGIN
    DECLARE @items INT

    SELECT @items = SUM(Quantity) FROM BillsMade

    RETURN ISNULL(@items, 0)
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalSales]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetTotalSales]()
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @total DECIMAL(10,2)

    SELECT @total = SUM(Total) FROM BillsMade

    RETURN ISNULL(@total, 0)
END
GO
/****** Object:  Table [dbo].[BillLogs]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NULL,
	[CustomerName] [varchar](100) NULL,
	[Action] [varchar](50) NULL,
	[LogDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[Item] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[BillDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillsMade]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillsMade](
	[CustomerName] [varchar](100) NULL,
	[Item] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardPay]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardPay](
	[CardNumber] [varchar](20) NULL,
	[CardHolderName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardPayment]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardPayment](
	[CardPaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CardNumber] [varchar](20) NULL,
	[CardHolderName] [varchar](100) NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[JewelleryName] [varchar](100) NULL,
	[Item] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkout]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkout](
	[CheckoutID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkoutss]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkoutss](
	[CheckoutID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckouTssss]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckouTssss](
	[CheckoutID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jewellery]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jewellery](
	[JewelleryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[Weight] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[JewelleryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[JewelleryId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Total]  AS ([Quantity]*[Price]),
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Role] [varchar](20) NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillLogs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[CardPayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[CardPayment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Checkout]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([JewelleryId])
REFERENCES [dbo].[Jewellery] ([JewelleryId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
/****** Object:  StoredProcedure [dbo].[AddOrderDetails]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrderDetails]
    @OrderID INT,
    @JewelleryName VARCHAR(100),
    @Quantity INT
AS
BEGIN
    DECLARE @JewelleryID INT, @Price DECIMAL(10,2), @Stock INT;

    SELECT 
        @JewelleryID = JewelleryId,
        @Price = Price,
        @Stock = Quantity
    FROM Jewellery
    WHERE Name = @JewelleryName;

    IF @JewelleryID IS NULL
    BEGIN
        RAISERROR('Item not found!',16,1);
        RETURN;
    END

    IF @Stock < @Quantity
    BEGIN
        RAISERROR('Not enough stock!',16,1);
        RETURN;
    END

    INSERT INTO OrderDetails(OrderId, JewelleryId, Quantity, Price)
    VALUES(@OrderID, @JewelleryID, @Quantity, @Price);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @Username VARCHAR(50),
    @Password VARCHAR(50),
    @Gender VARCHAR(10),
    @DOB DATE,
    @Role VARCHAR(20),
    @Email VARCHAR(100)
AS
BEGIN
    INSERT INTO Users (Username, Password, Gender, DateOfBirth, Role, Email)
    VALUES (@Username, @Password, @Gender, @DOB, @Role, @Email);
END;
GO
/****** Object:  StoredProcedure [dbo].[ConfirmOrder]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConfirmOrder]
    @OrderID INT
AS
BEGIN
    UPDATE Orders
    SET Status = 'Confirmed'
    WHERE OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrder]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrder]
    @CustomerName VARCHAR(100)
AS
BEGIN
    DECLARE @CustomerID INT;

    SELECT @CustomerID = CustomerID 
    FROM Customers 
    WHERE Name = @CustomerName;

    IF @CustomerID IS NULL
    BEGIN
        RAISERROR('Customer not found!',16,1);
        RETURN;
    END

    INSERT INTO Orders(CustomerId, TotalAmount, Status)
    VALUES(@CustomerID, 0, 'Pending');

    SELECT SCOPE_IDENTITY() AS OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCustomer]
    @ID INT
AS
BEGIN
    DELETE FROM Users
    WHERE UserID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteJewellery]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteJewellery]
    @JewelleryId INT
AS
BEGIN
    DELETE FROM Jewellery
    WHERE JewelleryId = @JewelleryId
END
GO
/****** Object:  StoredProcedure [dbo].[GenerateReport]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GenerateReport]
AS
BEGIN
    SELECT 
        dbo.GetTotalSales() AS TotalSales,
        dbo.GetTotalCustomers() AS TotalCustomers,
        dbo.GetTotalItemsSold() AS TotalItemsSold
END
GO
/****** Object:  StoredProcedure [dbo].[JewelleryAdd]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[JewelleryAdd]
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @Price DECIMAL(10,2),
    @Quantity INT,
    @Weight DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Jewellery (Name, Category, Price, Quantity, Weight)
    VALUES (@Name, @Category, @Price, @Quantity, @Weight)
END
GO
/****** Object:  StoredProcedure [dbo].[RecoverPassword]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecoverPassword]
    @Username VARCHAR(50),
    @Email VARCHAR(100)
AS
BEGIN
    SELECT Password 
    FROM Users
    WHERE Username = @Username 
    AND Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBill]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertBill]
    @CustomerName VARCHAR(100),
    @Item VARCHAR(100),
    @Quantity INT,
    @Price DECIMAL(10,2),
    @Total DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Bills (CustomerName, Item, Quantity, Price, Total)
    VALUES (@CustomerName, @Item, @Quantity, @Price, @Total)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCustomer]
    @id INT,
    @Name VARCHAR(100),
    @Email VARCHAR(100)
AS
BEGIN
    UPDATE Users
    SET Username = @Name,
        Email = @Email
    WHERE UserID = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateJewellery]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateJewellery]
    @JewelleryId INT,
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @Price DECIMAL(10,2),
    @Quantity INT,
    @Weight DECIMAL(10,2)
AS
BEGIN
    UPDATE Jewellery
    SET 
        Name = @Name,
        Category = @Category,
        Price = @Price,
        Quantity = @Quantity,
        Weight=@Weight
    WHERE JewelleryId = @JewelleryId
END
GO
/****** Object:  StoredProcedure [dbo].[UserLogin]    Script Date: 6/7/2026 3:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserLogin]
    @Username VARCHAR(50),
    @Password VARCHAR(50),
    @Role VARCHAR(20)
AS
BEGIN
    SELECT * FROM Users
    WHERE Username = @Username 
    AND Password = @Password 
    AND Role = @Role;
END;
GO
USE [master]
GO
